/* Strike when task is completed status */
.strikethru {text-decoration: line-through; }
th {text-align: center;} 

/* Set standard background image for all pages */

body {background-image:  url( '../images/grasshorse.jpg' );
	background-repeat: no-repeat;
    background-size: cover} 




/* Layout for large devices */
@media only screen and (min-width: 992px)
 {

.halfcolumn {
    float: left;
    width: 48%;
    padding: 15px;}

.fullcolumn {
    float: left;
    width: 100%;
    padding: 15px;}


}  





/* break class used thoughout web pages to separate content */
.break {line-break: normal;
    clear:left;
    float: centre;}


/* Class for datepicker */
.datepicker{
     
}

/*standard header 1 format*/
h1 {background-color: rgba(231, 228, 228, 0.808);
    color: dimgray;
    text-align: center;
    border-style: outset
    padding-top:15px;
    padding-bottom:5px;
    font-size:25px;
     }

nav a {
    margin-left: 3px;
    margin-right: 3px;
  }

  nav a:hover {
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    padding: 6px 0; 
  }



  label { 
    
    display: inline-block;
    font-weight: bolder;
    color: dimgray;
    font-size:12px;
     }
    
}




  /* Table layout */
  table {
    border: 2px solid dimgray;
    padding-top:5px;
    padding-bottom:5px;
  }


  form {
    background-color: rgba(231, 228, 228, 0.808);
    width: 800px;
    padding: 15px;
    margin: auto;
    position: relative;
   }

  
   .buttons { 
    
    display: inline-block;
    font-weight: bolder;
    color: white;
    font-size:16px;
    border-color: white;
    margin-left: 10px;
   ;
     }

    .delbtn { 
        background-color: rgba(231, 228, 228, 0.808);
        margin-left: 400px;
     
         }
    



   #logbox {
    
    margin-left: 60px;
    font-size: 75%;
    
  }