{%extends 'base.html'%}
{%block title %} Task List | Edit {% endblock %}

{% block content %}

<body>
    {% if task %}
        

        <form class="form-inline my-2 my-lg-0" method="POST">{% csrf_token %}
  
        <input class="form-control mr-sm-2" type="text" placeholder="Date" id="datepicker" value="{{task.taskdate|date:"SHORT_DATE_FORMAT"}}" aria-label="Add" name="taskdate">
        <input class="form-control mr-sm-2" type="time"  value="{{task.tasktime|time:"H:i"}}" aria-label="Add" name="tasktime">
        <input class="form-control mr-sm-2" type="add" placeholder="Description" value="{{task.taskdesc}}" aria-label="Add" name="taskdesc">
        <input class="form-control mr-sm-2" type="add" placeholder="Location" value="{{task.location}}" aria-label="Add" name="location">

        <select class="form-control mr-sm-2" name="assingees"  >
        
        <option value="{{task.assingees.id}}" selected="selected">{{task.assingees.staffname}}</option>
            {% for staff in avail_staff %}
                
                <option value="{{ staff.id }}">{{ staff.staffname }}</option>
                
            {% endfor %}  
        </select>
        
        <input type="hidden" value="{{task.completed}}" name="completed">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Save Edit</button>
        </form>




    {% endif %}

{% endblock %}

/<body>



{% block javascript %}
<script>
$("#datepicker").change(function () {
  
  
  var csrftoken = Cookies.get('csrftoken');
 // console.log(csrftoken);
  var task_date = $(this).val();
  console.log(task_date);

  taskdate = task_date.replace(/(\d\d)\/(\d\d)\/(\d{4})/, "$3-$1-$2");
  console.log(taskdate);


 function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

  $.ajax({
  type: "POST",
  async: false,
  url: '{% url "getselectdate_edit)" %}',
  data: {'taskdate': taskdate },
  dataType: 'json',

  success: function(avail_staff){
    console.log(avail_staff);
    var staff=avail_staff;
    
    
//console.log(staff.avail_staff[0].staffname);  

$('#assingees').empty();


$.each(staff.avail_staff, function (i, item) {
//console.log(item.staffname);
$("#assingees").append('<option value="' + item.id + '">' + item.staffname + '</option>');
});
    

   
  }



});

   
});


</script>

{% endblock %}