{%extends 'base.html'%}

{% block content %}



<title>Dashboard</title>



<div class="header">
<h1>DASHBOARD
   </h1>
</div>



<div class="fullcolumn">


  <table class="table table-bordered table-sm">

      <thead class="thead-dark">
      <tr>
        <th scope="col" colspan="6">Tasks to be Completed</th>
      </tr>

    </thead>
    <thead class="thead-light">
      <tr>
        <th scope="col" colspan="1">Date</th>
        <th scope="col" colspan="1">Time</th>
        <th scope="col" colspan="2">Task</th>
        <th scope="col" colspan="1">Location</th>
        <th scope="col" colspan="1">Assigned To</th>
     
      </tr>
    </thead>
    
  {% if current_tasks %}
    <tbody>
      {% for tasks in current_tasks %}
        {% if tasks.completed %}
          <tr class="table table-secondary table-borderless">
          </tr>
      
        {% else %}
            <tr class="table table-borderless table-light" border-color>
              <td scope="col" colspan="1"> {{tasks.taskdate|date:"d M Y"}} </td>
              <td scope="col" colspan="1"> {{tasks.tasktime|time:"h i a"}} </td>
              <td scope="col" colspan="2"> <a href="{% url 'edittask' tasks.id %}">{{tasks.taskdesc}}</a> </td>
              <td scope="col" colspan="1"> {{tasks.location}} </td>
              <td scope="col" colspan="1"> {{tasks.assingees.staffname}} </td>

            </tr>
        {% endif %}

      {% endfor %}
    </tbody>
  </table>
  {% endif %}


</div>


<div class="halfcolumn">




  <table class="table table-bordered table-sm" >

    <thead class="thead-dark">
      <tr>
        <th scope="col" colspan="3">Todays Rota</th>
        
     
      </tr>
    </thead>

    <thead class="thead-light">
      <tr>
        <th scope="col" colspan="1">Staff</th>
        <th scope="col" colspan="1">Time From</th>
        <th scope="col" colspan="1">Time To</th>
     
      </tr>
    </thead>
    
  {% if current_rota %}
    <tbody>
      {% for rotas in current_rota %}
      
            <tr class="table table-borderless table-light" border-color>
              <td> {{rotas.rotastaffid.staffname}} </td>
              <td> {{rotas.timefrom|time:"h i a"}} </td>
              <td> {{rotas.timeto|time:"h i a"}} </td>

            </tr>
        

      {% endfor %}
    </tbody>
  </table>
  {% endif %}


</div>

<div class="halfcolumn">
{% csrf_token %}
{% if api %}


<table class="table table-sm table-light ">
  <thead>
      <tr>
      <th scope="col" colspan="3">Forecast in Saggart provided by <img src="../static/images/AccuLogo_Sml.jpg" alt="Accuweather" ></th>
  </thead>
  <thead>
      <th scope="col" colspan="3">
      {% if api.Headline.Text %}
        <p style="font-family:Comic Sans MS"><font color="dimgray ">{{ api.Headline.Text }}</font> </p>
      {% elif api.Code == "ServiceUnavailable" %}
        <p style="font-family:Comic Sans MS"<font color="red"> Accuweather Service is Unvailable: </p>
        {{ api.Message }}</font> </p>
      {% elif api == "Weather API Error" %}
        <p style="font-family:Comic Sans MS"><font color="red">* Weather Forecast from Accuweather is currently unavailable *</font></p>
      {% else %}
        <p style="font-family:Comic Sans MS"><font color="red">* Weather Forecast from Accuweather is currently unavailable *</font></p>
      {% endif %}
      </th>
      
  </thead>
  
  <thead>
      
      <tr>
      <th scope="col" colspan="1"></th>
      <th scope="col" colspan="1"><p style="text-decoration: underline;">Todays Forecast<p></th>
      <th scope="col" colspan="1"><p style="text-decoration: underline;">Tonights Forecast<p></th>
  </thead>
  <tbody>
  <tr style="text-align:center; font-family:Comic Sans MS" > 
      <th scope="row"></th>
      <td><font color="dimgray "><strong> {{ api.DailyForecasts.0.Day.LongPhrase }}</strong></font> </td>
      <td><font color="dimgray "><strong> {{ api.DailyForecasts.0.Night.LongPhrase }}</strong></font> </td>    
    </tr>
  
    <tr style="text-align:center">
      <th scope="row">Temperature</th>
      <td> {{ api.DailyForecasts.0.Temperature.Maximum.Value }} Celcius</td>
      <td> {{ api.DailyForecasts.0.Temperature.Minimum.Value }} Celcius</td>    
    </tr>
    <tr style="text-align:center">
      <th scope="row">Real Feel</th>
      <td> {{ api.DailyForecasts.0.RealFeelTemperature.Maximum.Value }} Celcius</td>
      <td> {{ api.DailyForecasts.0.RealFeelTemperature.Minimum.Value }} Celcius</td>    
    </tr>
   
       <tr style="text-align:center">
      <th scope="row">Rain Probability</th>
      <td> {{ api.DailyForecasts.0.Day.RainProbability }} % </td>
      <td> {{ api.DailyForecasts.0.Night.RainProbability }} % </td>    
    </tr>
        <tr style="text-align:center">
      <th scope="row">Ice Probability</th>
      <td> {{ api.DailyForecasts.0.Day.IceProbability }} % </td>
      <td> {{ api.DailyForecasts.0.Night.IceProbability }} % </td>    
    </tr>
        <tr style="text-align:center">
      <th scope="row">Snow Probability</th>
      <td> {{ api.DailyForecasts.0.Day.SnowProbability }} % </td>
      <td> {{ api.DailyForecasts.0.Night.SnowProbability }} % </td>    
    </tr>
  </tbody>
</table>

{% endif %}

{% endblock %}

</div>