{%extends 'base.html'%}




{%block title %} Task List {% endblock%}



{% block content %}


<body>

<h1> Tasks for Completion</h1>


{% if messages %}
  {% for message in messages %}

    <div class="alert alert-success alert-dismissable" role="alert">
      <button class="close" data-dismiss="alert">
        <small><sup>x</sup></small>
      </button>
    {{ message }}
  </div>
  {% endfor %}

{%endif %}
</br>

<form class="form-inline my-2 my-lg-0" method="POST">{% csrf_token %}
  
  <div>
  <label for="taskdate">Task Date</label>
  <input class="form-control mr-sm-2" type="text" id="datepicker" placeholder="Date"  name="taskdate" >
  </div>
  <div>
  <label for="tasktime">Time(HH:MM)</label>
  <input class="form-control mr-sm-2" type="time" aria-label="Add" name="tasktime">
  </div>
  <div>
  <label for="assingees">Staff Name</label>
 <select class="form-control mr-sm-2 " name="assingees" id="assingees" >
  <option value="" selected="selected">Not Selected</option>    
  </select>
  </div>
   <div>
  <label for="taskdesc">Task Description</label>
  <input class="form-control mr-sm-2" type="add" placeholder="Description" aria-label="Add" name="taskdesc">
  </div>
   <div class="break">
  <label for="location">Location</label>
  <input class="form-control mr-sm-2" type="add" placeholder="Location" aria-label="Add" name="location">
  </div>
   <div>
  <label for="comments">Comments</label>
  <input class="form-control mr-sm-2" type="add" placeholder="Comments" aria-label="Add" name="comments">
  </div>
  
  <div>
  <button class="btn btn-secondary my-2 my-sm-0 buttons" type="submit">Add Task</button>
  </div>

</form>

<div class="break">
<p> </p>
</div>

<div>
<button class="btn btn-secondary my-2 my-sm-0 buttons delbtn" type="submit"><a href="{% url 'delallcomplete' %}">Delete All Completed Tasks</a></button>
</div>

<div class="break">
<p> </p>
</div>
  



<div class="break">
  {% if all_tasks %}
  <table class="table table-bordered">

    <thead class="thead-dark">
      <tr>

        
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Assigned To</th>
        <th scope="col">Task</th>
        <th scope="col">Location</th>
        <th scope="col">Comments</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    
    <tbody>
      {% for tasks in all_tasks %}
        {% if tasks.completed %}
          <tr class="table table-secondary table-borderless">
           
            <td> {{tasks.taskdate|date:"d M Y"}} </td>
            <td> {{tasks.tasktime|time:"h i a"}} </td>
            <td> {{tasks.assingees.staffname}} </td>
            <td class="strikethru"><a href="{% url 'edittask' tasks.id %}"> {{tasks.taskdesc}}</a> </td>
            <td> {{tasks.location}} </td>
            <td> {{tasks.comments}} </td>
            <td> Done</td>
            <td> <a href="{% url 'markincomplete' tasks.id %}" style="float: right">Undo</a></td>
            <td><center> <a href="{% url 'delete' tasks.id %}">X</a></center> </td>
          </tr>
      
        {% else %}
            <tr class="table table-borderless table-light" border-color>
              
              <td> {{tasks.taskdate|date:"d M Y"}} </td>
              <td> {{tasks.tasktime|time:"h i a"}} </td>
              <td> {{tasks.assingees.staffname}} </td>
              <td> <a href="{% url 'edittask' tasks.id %}">{{tasks.taskdesc}}</a> </td>
              <td> {{tasks.location}} </td>
              <td> {{tasks.comments}} </td>
              <td> To Do  </td>
              <td> <a href="{% url 'markcomplete' tasks.id %}"style="float: right">Done</a> </td>
              <td><center> <a href="{% url 'delete' tasks.id %}">X</a></center> </td>
            </tr>
        {% endif %}

      {% endfor %}
    </tbody>
  </table>
  {% endif %}

</div>



{% block javascript %}
<script>
$("#datepicker").change(function () {
  
  
  var csrftoken = Cookies.get('csrftoken');
  //console.log(csrftoken);
  var task_date = $(this).val();
  //console.log(task_date);

  taskdate = task_date.replace(/(\d\d)\/(\d\d)\/(\d{4})/, "$3-$1-$2");
  //console.log(taskdate);


 function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

  $.ajax({
  type: "POST",
  async: false,
  url: '{% url "getselectdate" %}',
  data: {'taskdate': taskdate },
  dataType: 'json',

  success: function(avail_staff){
    console.log(avail_staff);
    var staff=avail_staff;
    
    
//console.log(staff.avail_staff[0].staffname);  

$('#assingees').empty();


$.each(staff.avail_staff, function (i, item) {
//console.log(item.staffname);
$("#assingees").append('<option value="' + item.id + '">' + item.staffname + '</option>');
});
    

   
  }



});



   
});


</script>

{% endblock %}


{% endblock %}



</body>
    


